@font-face {
    font-family: 'KCC Kimhwanki';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCKimhwanki/KCCKimhwanki.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KCCKimhwanki/KCCKimhwanki.ttf') format('truetype');
}
